In [1]:
import pandas as pd

In [2]:
fruits = pd.read_table('fruit_data_with_colors.txt')

In [4]:
fruits.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

# Confusion Matrices

A confusion matrix presents a table layout of the different outcomes of prediction and results of a classification problem and helps visualize its outcomes

It helps us identify the correct predictions of a model for different individual classes as well as the errors

                                        Actual           The actual values
                                                         of our dataset are
                                                         along th columns
                                                                 |
                                                                 |
                                                                 |
                                                                 ^
 The values predicted                                    
 by our classifier are                                    
 along the rows            
                           
     ------->                predicted

# Need for Confusion Matrices

Classification models have multiple output categories. Most error measures will tell us the total error in our model, but we cannot use it to find out individual instances of errors in our model

Input ------> Classifier ---------> Error Measure ---------> Total Error score
               
      Multiple outputs labels/categories
      
During classification, we also have to overcome the limitations of accuracy. Accuracy can be misleading for classification problems. If there is a significant class imbalance, a model might predict the majorly class for all cases and have a high accuracy score

Messages -------> Classifier -----> Inbox & Spam 

  our model predicted 8/10 instances and will have an accuracy of 80%.But, is it classifying correctly?

# Creating Confusion Matrix

Consider a confusion matrix made from a classifier which classifies people based on whether they speak English or not

People who can speak
English will be 
classified as POSITIVES and does who cannot be classified as NEGATIVES
           
                                     Actual
                              Positive   Negative
Do you 
speak English? Yes I do 

       Predicted    Positive     TP         FP
                    
                    Negative     FN         TN
                     ----->\
                                                      \
                                                   People who cannot speak
                                                  English will be classified
                                                     as Negatives
Positive * Positive = True Positive: The number of times our actual positive values are equal to predicted positive values gives us True positives(TP) 

Positive * Negative = False Positive: The number of times our model wrongly predicts negative values as positives values gives us False positives(FP)

Negative * Positive = False Negative:The number of times our model wrongly predicts positives values as negative values gives us False Negatives(FN)

Negative * Negative = True Negative:The number of times our actual Negative values are equal to predicted Negative values gives us True Negatives(TN)

# Confusion Matrix Metrics

Confusion matrix metrics are performance measures which helps us find the accuracy of our classifier. There are 4 main metrics:

    -Accuracy    -Precision    -Recall    -F1-Score
    
Accuracy:is used to find the the portion of correctly classified values.It tells us how often our classifier is right. It is the sum of all true values divided by the total values

                    TP + TN
     Accuracy =   -------------
               TP + TN + FP + FN
               
Precision:is used to calculate the model's ability to classify positive values correctly. It answers the question, "When the model predicts a positive value, how often is it right?" It is the true positives divided by total number of predicted positive values.

                           TP
            Precision = ---------
                         TP + FP
                         
Recall:is used to calculate the model's ability to predict positive values. "How often does the model actually predict the correct positive values?". It is the true positives divided by total number of actual positive values

                        TP
            Recall = ---------
                      TP + FN
                         
F1-Score:is the HARMONIC mean of Recall and Precision.It is useful when you need to take both Precision and Recall into account.

                         2 * Precision * Recall
            Precision = -------------------------
                            Precision + Recall

# Comparison of Confusion Matrix

Consider the following two Confusion matrix, derived from two different classifier. To figure out which one performs better, we find the confusion matrix metrics for both of them 

ES:English Speaker  &  NES:Non English Speaker 

# example 1


                          English Speaker   Non English Speaker
    English Speaker              90                 11
 
    Non English Speaker          19                 40
 
 
                   TP + TN                90 + 40
    Accuracy = -----------------   =  -------------------  =  0.8125
               TP + TN + FP + FN        90 + 40 + 19 + 11
               
               
                    TP             90
    Precision = ---------   =   --------  =   0.891
                 TP + FP         90 + 11
                 
                 
                 TP            90
    Recall = ---------   =   --------  =  0.8256
              TP + FN        90 + 19
              
              
                2 * Precision * Recall       2 * (0.891) * (0.8256)
    F1-Score = ------------------------  =  ------------------------ = 0.857 
                  Precision + Recall             (0.891 + 0.8256)
                  
                  
# example 2


                          English Speaker   Non English Speaker
    English Speaker              85                 15
 
    Non English Speaker          20                 40
 
 
                   TP + TN                85 + 40
    Accuracy = -----------------   =  -------------------  =  0.781
               TP + TN + FP + FN        85 + 40 + 15 + 20
               
               
                    TP             85
    Precision = ---------   =   --------  =   0.85
                 TP + FP         85 + 15
                 
                 
                 TP            85
    Recall = ---------   =   --------  =  0.809
              TP + FN        85 + 20
              
              
                2 * Precision * Recall       2 * (0.85) * (0.809)
    F1-Score = ------------------------  =  ------------------------ = 0.828 
                  Precision + Recall             (0.85 + 0.809)
                  

From the above example calculatuions we see that our first classifier performed better with a better Accuracy = 0.8125 and F1-Score = 0.857 while the second classifier has an Accuracy = 0.781 and F1-Score = 0.828

In [11]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [33]:
heart = pd.read_csv('C:/Users/USER/Downloads/Heart.csv')
heart.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [35]:
heart.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [41]:
heart.__delitem__('Unnamed: 0')

In [42]:
heart.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [44]:
heartz = pd.read_csv('C:/Users/USER/Downloads/heartz.csv')
heartz.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [46]:
y = heartz['output']
X = heartz.drop('output', axis = 1)
print(X.head())

   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0   63    1   3     145   233    1        0       150     0      2.3    0
1   37    1   2     130   250    0        1       187     0      3.5    0
2   41    0   1     130   204    0        0       172     0      1.4    2
3   56    1   1     120   236    0        1       178     0      0.8    2
4   57    0   0     120   354    0        1       163     1      0.6    2

   caa  thall
0    0      1
1    0      2
2    0      2
3    0      2
4    0      2

In [47]:
print(y.head())

0    1
1    1
2    1
3    1
4    1
Name: output, dtype: int64

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [52]:
# we will use a standard scaler to scale the featues for preprocessing
scaler = StandardScaler()
scale = scaler.fit(X_train)
X_train = scale.transform(X_train)
X_test = scale.transform(X_test)

In [53]:
# Creating a Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [54]:
score = accuracy_score(y_test, y_pred)
score

0.8524590163934426

In [57]:
# extracting TP, FP, TN,FN
tp, fp, fn, tn = confusion_matrix(y_test, y_pred).ravel()
tp, fp, fn, tn

(25, 4, 5, 27)

In [58]:
# Confusion matrix metrics
matrix = classification_report(y_test, y_pred)
print('Classification report :\n', matrix)

Classification report :
               precision    recall  f1-score   support

           0       0.83      0.86      0.85        29
           1       0.87      0.84      0.86        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61

# 3x3 Confusion matrix

To scale up a confusion matrix, you simply extend the number of rows and columns. The True Positives will be along the diagonal. All other values will be FN or FP

                  English          Hindi           French
            |----------------|---------------|---------------|      
    English |      TP        |      FP       |      FP       |
            |________________|_______________|_______________|
    Hindi   |      FN        |      TP       |      FP       |
            |________________|_______________|_______________|
    French  |      FN        |      FN       |      TP       |
            |________________|_______________|_______________|